{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit profile</h1>
    {% if is_granted('ROLE_ADMIN') or user.id == app.user.id %}
        {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}
    {% else %}
        <p>Access denied.</p>
    {% endif %}
{% endblock %}
